/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 11>;
        };

        return {
            bindings = <&kp ENTER>;
            key-positions = <22 23>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <13 12>;
        };
    };

    macros {
        EMS_Mortar_Sentry: EMS_Mortar_Sentry {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp UP_ARROW &kp RIGHT &kp DOWN &kp RIGHT &kt LCTRL>;
            label = "EMS_MORTAR_SENTRY";
            wait-ms = <0>;
        };

        Rocket_Sentry: Rocket_Sentry {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp UP_ARROW &kp RIGHT &kp RIGHT &kp LEFT_ARROW &kt LCTRL>;
            label = "ROCKET_SENTRY";
        };

        AUTO_Cannon_Sentry: AUTO_Cannon_Sentry {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp UP_ARROW &kp RIGHT &kp UP_ARROW &kp LEFT &kp UP_ARROW &kt LCTRL>;
            label = "AUTO_CANNON_SENTRY";
        };

        Mortar_Sentry: Mortar_Sentry {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp UP_ARROW &kp RIGHT &kp RIGHT &kp DOWN &kt LCTRL>;
            label = "MORTAR_SENTRY";
        };

        Sheild_Generator_Pack: Sheild_Generator_Pack {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp UP_ARROW &kp LEFT &kp RIGHT &kp LEFT &kp RIGHT &kt LCTRL>;
            label = "SHEILD_GENERATOR_PACK";
        };

        Supply_pack: Supply_pack {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp LEFT &kp DOWN &kp UP_ARROW &kp UP_ARROW &kp DOWN_ARROW &kt LCTRL>;
            label = "SUPPLY_PACK";
        };

        Grenade_Launcher: Grenade_Launcher {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp LEFT &kp UP_ARROW &kp LEFT &kp DOWN &kt LCTRL>;
            label = "GRENADE_LAUNCHER";
        };

        Supply_pak: Supply_pak {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp LEFT &kp DOWN &kp UP_ARROW &kp UP_ARROW &kp DOWN &kt LCTRL>;
            label = "SUPPLY_PAK";
        };

        Rail_Gun: Rail_Gun {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp RIGHT &kp DOWN &kp UP_ARROW &kp LEFT &kp RIGHT &kt LCTRL>;
            label = "RAIL_GUN";
        };

        Autocannon: Autocannon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp LEFT &kp DOWN &kp UP_ARROW &kp UP_ARROW &kp RIGHT &kt LCTRL>;
            label = "AUTOCANNON";
        };

        reinforce: reinforce {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp UP_ARROW &kp DOWN &kp RIGHT &kp LEFT &kp UP_ARROW &kt LCTRL>;
            label = "REINFORCE";
        };

        Resupply: Resupply {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp DOWN &kp UP_ARROW &kp RIGHT &kt LCTRL>;
            label = "RESUPPLY";
        };

        Orbital_Laser: Orbital_Laser {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp RIGHT &kp DOWN &kp UP_ARROW &kp RIGHT &kp DOWN &kt LCTRL>;
            label = "ORBITAL_LASER";
        };

        Orbital_RailCannon_Strike: Orbital_RailCannon_Strike {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp RIGHT &kp UP_ARROW &kp DOWN &kp DOWN &kp RIGHT &kt LCTRL>;
            label = "ORBITAL_RAILCANNON_STRIKE";
        };

        Eagle_Cluster_Bomb: Eagle_Cluster_Bomb {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp UP_ARROW &kp RIGHT &kp DOWN &kp DOWN &kp RIGHT &kt LCTRL>;
            label = "EAGLE_CLUSTER_BOMB";
        };

        Eagle_500: Eagle_500 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp UP_ARROW &kp RIGHT &kp DOWN &kp DOWN_ARROW &kp DOWN &kt LCTRL>;
            label = "EAGLE_500";
        };

        Eagle_Airstrike: Eagle_Airstrike {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp UP_ARROW &kp RIGHT &kp DOWN &kp RIGHT &kt LCTRL>;
            label = "EAGLE_AIRSTRIKE";
        };

        Stalwart: Stalwart {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp LEFT &kp DOWN &kp UP_ARROW &kp UP_ARROW &kp LEFT &kt LCTRL>;
            label = "STALWART";
        };

        Guard_dog: Guard_dog {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp UP_ARROW &kp LEFT &kp UP_ARROW &kp RIGHT &kp RIGHT &kt LCTRL>;
            label = "GUARD_DOG";
        };

        Arc_Thrower: Arc_Thrower {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp RIGHT &kp DOWN &kp UP_ARROW &kp LEFT &kp LEFT &kt LCTRL>;
            label = "ARC_THROWER";
        };

        Jet_Pack: Jet_Pack {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp DOWN &kp UP_ARROW &kp UP_ARROW &kp DOWN &kp UP_ARROW &kt LCTRL>;
            label = "JET_PACK";
        };

        Eagle_Napalm: Eagle_Napalm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp UP_ARROW &kp RIGHT &kp DOWN &kp UP_ARROW &kt LCTRL>;
            label = "EAGLE_NAPALM";
        };

        Orbital_EMS: Orbital_EMS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp RIGHT &kp RIGHT &kp LEFT &kp DOWN &kt LCTRL>;
            label = "ORBITAL_EMS";
        };

        Eagle_RocketPods: Eagle_RocketPods {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp UP_ARROW &kp RIGHT &kp UP_ARROW &kp LEFT &kt LCTRL>;
            label = "EAGLE_ROCKETPODS";
        };

        Mech: Mech {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp LEFT &kp DOWN &kp RIGHT &kp UP_ARROW &kp LEFT &kp DOWN_ARROW &kp DOWN_ARROW &kt LCTRL>;
            label = "MECH";
        };

        Orbital_380mm_HE: Orbital_380mm_HE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LCTRL &kp RIGHT &kp DOWN_ARROW &kp UP_ARROW &kp UP_ARROW &kp LEFT &kp DOWN &kp DOWN_ARROW &kt LCTRL>;
            label = "ORBITAL_380MM_HE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp E      &kp R  &kp T        &Resupply               &Arc_Thrower  &Orbital_Laser     &Orbital_EMS      &Eagle_RocketPods  &Eagle_Napalm
&kp TAB         &kp A  &kp S  &kp D      &kp F  &kp G        &Sheild_Generator_Pack  &Jet_Pack     &Guard_dog         &Rail_Gun         &Mech              &Eagle_500
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C      &kp V  &kp B        &reinforce              &Autocannon   &Orbital_380mm_HE  &Eagle_Airstrike  &Orbital_Laser     &Eagle_500
                              &kp LCTRL  &mo 1  &kp SPACE    &Jet_Pack               &Jet_Pack     &Arc_Thrower
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Lower";
            bindings = <
&none  &kp ESCAPE    &kp LC(C)       &kp LC(V)       &kp LC(X)     &kp N9          &kp N7   &kp N8  &kp N9    &kp N9      &kp N0  &bt BT_CLR
&none  &kp TAB       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT     &kp UP_ARROW    &kp N4   &kp N5  &kp N6    &kp RIGHT   &trans  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4    &kp N1   &kp N2  &kp N3    &kp DOLLAR  &trans  &none
                                     &kp LGUI        &trans        &kp SPACE       &kp RET  &kp N0  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Raise";
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };
    };
};
